body{
    background-color: darkgreen;
    width: 1000px;
    height: 500px;
}
.header {
    background-color: darkgreen;
    font-size: xx-large;
    color: yellow;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightgreen;
    position: relative;
    
}

img {
    width: 300px;
    height: 300px;
    margin: 20px;
    
}

.content1 {
    width: 300;
}

img:hover{
    box-shadow: 10px 10px 5px gray;
    transform: scale(1.1);
    
}



.Book-trip{
    border: 2px solid black;
    background-image: linear-gradient(to right,darkgreen,lightgreen);
    border-radius: 30px;
    padding: 14px 40px;
    position: relative;
    left: 130px;
    bottom: 10px;
}

a{
    text-decoration: none ;
    color: white;
}

.container1 {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    position: relative;
    bottom:50px ;
    left: 30px;
    
}

.offer1 {
    border-bottom: 1px solid black;
    
}

.offer2 {
    border-bottom: 1px solid black;
    font-weight: bold;
    
}

h4{
    text-align: center;
}

.flashy{
    color: yellow;
    border: 3px dotted darkgreen;
    background-image: linear-gradient(to right,darkgreen,lightgreen);
    border-radius: 30px;
    padding: 14px 40px;
    animation: blink 1.5s infinite;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;

}

.xl-button{
    color: yellow;
    background-image: linear-gradient(to right,darkgreen,lightgreen);
    border-radius: 50%;
    padding: 14px 4px;
    animation: flashing 1.5s infinite;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 40px;

}

@keyframes blink{
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.7;
    }
    100%{
      opacity: 0;
    }
  }

@keyframes flashing {
    0% {
        background-color: #2ba805;
        box-shadow: 0 0 5px black;
      }
      50% {
        background-color: #49e819;
        box-shadow: 0 0 20px black;
      }
      100% {
        background-color: #2ba805;
        box-shadow: 0 0 5px black;
    }
}

.footer {
    color: yellow;
    font-size: large;
    text-align: center;
}